extends ./layout/index

block contenido
    main.container.mt-5     
        .row
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
              h1= pagina
              blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mauris magna, accumsan vitae turpis quis, interdum porta est. 

              p Curabitur eleifend sagittis molestie. Sed imperdiet, nisi ac convallis lobortis, ipsum enim eleifend lacus, nec euismod justo urna a nisi. Nunc aliquam, felis sed lobortis ultrices, dolor diam ullamcorper lectus, sed iaculis ex ligula luctus enim. 

              p Nam feugiat bibendum leo sit amet convallis. Integer erat velit, accumsan vitae felis sit amet, efficitur sodales tortor. Sed ac auctor erat, eu molestie turpis.

    .listado-iconos 
        .conteiner.mt-5.py-5.text-center 
            .row 
                .col-md-4   
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")   
                    h2.mb-4 Seguridad    
                    p Nam feugiat bibendum leo sit amet convallis. Integer erat velit, accumsan vitae felis sit amet, efficitur sodales tortor. Sed ac auctor erat, eu molestie turpis.

                .col-md-4   
                    img(src="/img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")   
                    h2.mb-4 Mejores Destinos    
                    p Nam feugiat bibendum leo sit amet convallis. Integer erat velit, accumsan vitae felis sit amet, efficitur sodales tortor. Sed ac auctor erat, eu molestie turpis.    

                .col-md-4   
                    img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")   
                    h2.mb-4 Mejores Precios    
                    p Nam feugiat bibendum leo sit amet convallis. Integer erat velit, accumsan vitae felis sit amet, efficitur sodales tortor. Sed ac auctor erat, eu molestie turpis.    